{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    {% if error %}
        <style>
            .alert {
                padding: 20px;
                background-color: #f44336; /* Red */
                color: white;
                margin-bottom: 15px;
            }

            /* The close button */
            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

            /* When moving the mouse over the close button */
            .closebtn:hover {
                color: black;
            }
        </style>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <section id="home">
        <div class="wrapper">

            <div class="left-col" id="left-col-connexion">
                <h1>{{'header.login'|trans}}</h1>
                <form action="{{ path('app_login') }}" method="post">
                    <input type="email" name="_username" id="user_login" class="blue-button" value="{{ last_username }}"size="20" autocapitalize="off" placeholder="{{'login.mail'|trans}}" />
                    <input type="password" name="_password" id="user_pass" class="blue-button" value="" size="20" placeholder="{{  'register.password'|trans }}" />

                    <input type="submit" value="{{'login.connect'|trans}}">
                </form>
                <p class="account-password-lost">{{'login.forgot_password'|trans}} <a href="{{ url('app_forgot_password_request') }}">{{'login.click'|trans}}</a></p>
                <p class="account-password-lost"><a href="{{ url('connect_facebook_start') }}">{{'login.with'|trans}} Facebook</a></p>
            </div>

            <div class="right-col">
                {% include "pages/_globe.html.twig" %}


            </div><!-- Right col -->
    </section>


    <script>
        const password = document.querySelector("#user_pass");
        console.log(password)
        password.insertAdjacentHTML('afterend', '<i class="bi bi-eye-slash" id="togglePassword"></i>')

        const togglePassword = document.querySelector("#togglePassword");
        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

    </script>

{% endblock %}