{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <style>
            .alert {
                padding: 20px;
                background-color: #f44336; /* Red */
                color: white;
                margin-bottom: 15px;
            }

            /* The close button */
            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

            /* When moving the mouse over the close button */
            .closebtn:hover {
                color: black;
            }
        </style>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <section id="home">
        <div class="wrapper">

            <div class="left-col" id="left-col-connexion">
                <h1>Connexion</h1>
                <form action="{{ path('app_login') }}" method="post">
                    <input type="email" name="_username" id="user_login" class="blue-button" value="{{ last_username }}"size="20" autocapitalize="off" placeholder="Adresse mail" />
                    <input type="password" name="_password" id="user_pass" class="blue-button" value="" size="20" placeholder="Mot de passe" />

                    <input type="submit" value="Se connecter">
                </form>
                <p class="account-password-lost">Mot de passe oublié&nbsp;? <a href="{{ url('app_forgot_password_request') }}">Cliquez ici</a></p>
                <p class="account-password-lost"><a href="{{ url('connect_facebook_start') }}">Connect with Facebook Cliquez ici</a></p>
            </div>

            <div class="right-col">
                {% include "pages/_globe.html.twig" %}


            </div><!-- Right col -->
    </section>



{% endblock %}