{% extends 'base.html.twig' %}

{% block title %}Me connecter à mon compte{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="postyourdream">

        <div class="wrapper page">
            <!-- Step inscription compte 6b -->
            <div class="dream-phase" id="dream-step-account-creation">

                <h2>Contez votre rêve</h2>
                <p>Inscription et publication</p>
                <h1>Inscrivez-vous</h1>
                {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                <div class="next-step-buttons">
                    <a class="blue-button" href="{{ url('app_index') }}">Précédent</a>
                    <input type="submit" name="submit" id="account-submit" class="blue-button" value="Valider">
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
