{% extends 'base.html.twig' %}

{% block title %}Me connecter à mon compte{% endblock %}

{% block body %}
    <style>
        #dream-step-account-creation li{
            color: #fff;
        }
    </style>
      {% for flash_error in app.flashes('verify_email_error') %}

        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endfor %}



    <section class="postyourdream">

        <div class="wrapper page">
            <!-- Step inscription compte 6b -->
            <div class="dream-phase" id="dream-step-account-creation">

                <h2>Contez votre rêve</h2>
                <p>Inscription et publication</p>
                <h1>{{ 'register.title'|trans }}</h1>
                {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                <div class="next-step-buttons">
                    <a class="blue-button" href="{{ url('app_index') }}">{{ 'register.previous'|trans }}</a>
                    <input type="submit" name="submit" id="account-submit" class="blue-button" value="{{ 'register.submit'|trans }}">
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
