{% extends 'base.html.twig' %}

{% block title %}Me connecter à mon compte{% endblock %}

{% block body %}
    <section class="postyourdream">
        <div class="wrapper page">
            <!-- Validation compte 7 -->
            <div class="dream-phase" id="dream-step-account-validation">
                <h2>{{'dream.share'|trans}}</h2>
                <p>{{ 'user.confirm_registration'|trans }}</p>
                <h3>{{ 'user.confirm_registration_text'|trans|raw }}</h3>
                <div class="next-step-buttons">
                    <a class="blue-button" href="{{ url('app_index') }}">{{ 'dream.back_home'|trans }}</a>
                    <a class="blue-button" href="{{ url('app_login') }}">{{ 'user.connect'|trans }}</a>
                </div>
            </div>
            <!-- Step Fin avec compte 8 -->
        </div>
    </section>
{% endblock %}
