<header class="header">
    <div class="header-top">
        <a href="{{ url('app_index') }}"><img class="main-logo" src="{{ asset('build/logo.png') }}"
                                              alt="Logo Rêveur Dream"></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="{{ url('app_why') }}">{{ 'header.why'|trans }}</a></li>
                {% if not app.user %}
                    <li><a href="{{ url('app_register') }}">{{ 'header.registration'|trans }}</a></li>
                    <li><a href="{{ url('app_login') }}">{{ 'header.login'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ url('app_user') }}">{{ 'header.account'|trans }}</a></li>
                    <li><a href="{{ url('app_logout') }}">{{ 'header.logout'|trans }}</a></li>
                {% endif %}
            </ul>
            <div class="lang-switch"><span class="lang-active">{{ app.request.locale|upper }}</span>
                <div class="lang-dropdown">
                    {% if  app.request.locale|upper == 'FR' %}
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'en'}) }}">EN</a>
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'es'}) }}">ES</a>
                    {% elseif app.request.locale|upper == 'ES'  %}
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'en'}) }}">EN</a>
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'fr'}) }}">FR</a>
                    {%else %}
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'fr'}) }}">FR</a>
                        <a class="lang-other" href="{{ path('app_index', {_locale: 'es'}) }}">ES</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="menu-mobile">
            <div class="menu-mobile-switch">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 112">
                    <path d="M112,6H12a12,12,0,0,0,0,24H112a12,12,0,0,0,0-24Z" transform="translate(0 -6)"/>
                    <path d="M112,50H12a12,12,0,0,0,0,24H112a12,12,0,0,0,0-24Z" transform="translate(0 -6)"/>
                    <path d="M112,94H12a12,12,0,0,0,0,24H112a12,12,0,0,0,0-24Z" transform="translate(0 -6)"/>
                </svg>
            </div>
            <div class="menu-panel">
                <nav class="nav-bar-mobile">
                    <ul>
                        {% if not app.user %}
                            <li><a href="{{ url('app_register') }}">{{ 'header.registration'|trans }}</a></li>
                            <li><a href="{{ url('app_login') }}">{{ 'header.login'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ url('app_user') }}">{{ 'header.account'|trans }}</a></li>
                            <li><a href="{{ url('app_logout') }}">{{ 'header.logout'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</header>