{% extends 'base.html.twig' %}
{% block body %}
    <section id="home">
        <div class="wrapper">
            <div class="left-col">
                <p class="date">{{ 'now'|format_datetime('long', 'none', locale=app.request.getLocale()) }}  {{ lunaryPhase.svg|raw}}  {{ 'index.in'|trans }} {{hemisphere}}</p>
                <div class="left-col" id="left-col-pourquoi">
                    <h1>{{ 'why.title'|trans}}</h1>
                    <p>{{ 'why.text'|trans|raw}}</p>
                    <a href="{{ url('app_dream') }}" class="blue-button">{{ 'index.begin'|trans }}</a>
                    {% if not app.user %}
                        <p class="account-connection">
                            {{ 'index.already_account'|trans }} <a href="{{ url('app_login') }}">{{ 'index.log_in'|trans }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="right-col">
                {% include "pages/_globe.html.twig" %}
            </div>   <!-- right column -->
        </div>
    </section>
    <script>
        let child = document.querySelector("svg > g > a")
        document.querySelector("svg > g").removeChild(child)
        function test(text) {
            var title = document.createElementNS("http://www.w3.org/2000/svg","title")
            title.textContent = text
            document.querySelector("svg > g").appendChild(title)
        }

        window.addEventListener("DOMContentLoaded", (event) => {
            let phase = "{{ lunaryPhase.phaseName }}"
            test(phase)
        });
    </script>
{% endblock %}