{% extends 'base.html.twig' %}


{% block body %}
    <section id="single-content">
        <div class="wrapper">
            <h1>{{'user.reset_password_sent'|trans}}</h1>
            <p>
                {{'user.reset_passord_text'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>{{'user.reset_password_not_sent'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'user.reset_password_try_again'|trans}}</a>.</p>
        </div>
    </section>
{% endblock %}
