{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section id="home">
        <div class="wrapper">
                <div class="left-col" id="left-col-connexion">
                    <h1>{{'user.reset_password'|trans}}</h1>

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}

                    <input type="submit" class="btn btn-primary" value="{{'user.password_request'|trans}}">
                    {{ form_end(requestForm) }}
                </div>

                <div class="right-col">
                    {% include "pages/_globe.html.twig" %}

                    <div>

                    </div>
    </section>
    <script>
        let child = document.querySelector("svg > g > a")
        document.querySelector("svg > g").removeChild(child)
        function test(text) {
            var title = document.createElementNS("http://www.w3.org/2000/svg","title")
            title.textContent = text
            document.querySelector("svg > g").appendChild(title)
        }

        window.addEventListener("DOMContentLoaded", (event) => {
            let phase = "{{ lunaryPhase.phaseName }}"
            test(phase)
        });
    </script>
{% endblock %}
