{% extends 'base.html.twig' %}

{% block body %}
    <section id="single-content">
        <div class="wrapper">
            <h1>{{'user.reset_password'|trans}}</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">{{'user.reset_password'|trans}}</button>
            {{ form_end(resetForm) }}

        </div>
    </section>
{% endblock %}
