<h2 style="text-align: center;">{{'mail.creation.title'|trans}}</h2> <img
        style="text-align: center; margin: 10px auto;"
        src="{{ asset('build/logo.png') }}">
<p> Hello {{ user.username }}</p>
<p>Your account on <a href="{{ url('app_index') }}">{{ url('app_index') }}</a> is created.</p> <p>
    To confirm your
    email address and validate your registration, please click on <a href="{{ signedUrl }}">this link</a></p>
<p>We
    can't wait to read your latest dream!</p> <p>See you soon,<br/> The reveurdream.com team</p>
