{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    {% form_theme form _self %}
    {% form_theme form 'dream/_form_theme.html.twig' %}

    <section class="page">
        <div class="wrapper">
            <h1>{{ 'dream.edit'|trans}}</h1>
            {{ form_start(form) }}
            <div class="edit-dream-data">
                <h3>{{ 'dream.info'|trans}}</h3>
                <p>{{'dream.type'|trans}}</p>
                <div>
                    {{ form_widget(form.category) }}

                </div>
                {{ form_widget(form.theme) }}

                <p>{{ 'dream.visu'|trans}}</p>
                <div class="edit-dream-visibility">
                    {{ 'dream.visible'|trans}}
                    <label class="switch">
                        {% block _form_isDraft_row %}
                            {{ form_widget(form.isDraft) }}
                        {% endblock %}
                        <span class="slider round"></span>
                    </label>
                    <span style="color: #45568b">{{ 'dream.invi'|trans}}</span>
                </div>

                <a href="" class="similar-dreams">{{'dream.similaire'|trans}}</a>
            </div>

            <div class="edit-dream">
                <h3>{{'dream.dream'|trans}}</h3>
                <div id="edit-my-dream">
                    <div>
                        {% block _form_title_row %}
                            {{ form_widget(form.title, {'attr': {'class':"blue-button", 'placeholder':"dream.title"}} ) }}
                        {% endblock %}
                        {% block _form_description_row %}
                            {{ form_widget(form.description, {'attr': {'class':"blue-button dream_story", 'placeholder':"dream.edit_area", 'maxlength':"500",  'onkeyup':"textCounter(this,'counter',500);"}} ) }}
                        {% endblock %}
                        <p><input disabled maxlength="3" size="3" value="500" id="counter"> {{'dream.caracteres'|trans}}</p>
                    </div>
                    <div class="edit-dream-validation">
                        <input class="blue-button" type="submit" value="{{'dream.submit'|trans}}">
                        <a class="blue-button" href="{{ url('app_user') }}">{{'dream.cancel'|trans}}</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <script>
        function textCounter(field,field2,maxlimit)
        {
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
                field.value = field.value.substring( 0, maxlimit );
                return false;
            } else {
                countfield.value = maxlimit - field.value.length;
            }
        }
        textCounter(document.getElementById('form_description'), 'counter', 500);
    </script>

{% endblock %}
