{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page postyourdream">
        <div class="wrapper">
            <!-- Step 4 -->
            <form action="{{ path('app_dream') }}" method="post">
                <input type="hidden" name="publish" value="true">

                <div class="dream-phase" id="dream-step-account">

                    <h2>{{'dream.share'|trans}}</h2>
                    <p>{{'dream.register'|trans}}</p>
                    {{'dream.resgister_text'|trans|raw}}
                    <div class="next-step-buttons">
                        <div class="blue-button" ><a onclick="this.closest('form').submit();return false;">{{'dream.register_no'|trans}}</a></div>
                        <div class="blue-button" onclick="location.href='{{ url('app_register') }}'" > {{'dream.register_yes'|trans}}</div>
                        <div class="blue-button" onclick="location.href='{{ url('app_register', {'draft' : true}) }}'" > {{'dream.register_save'|trans}}</div>
                    </div>
                    <div class="next-step-buttons">
                        <a class="blue-button" id="back-to-step-4"
                           href="{{ url('app_dream') }}">{{ 'register.previous'|trans }}</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
