{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page postyourdream">
        <div class="wrapper">
            <div class="dream-phase" id="dream-step-account-publication">
                <h2>{{'dream.share'|trans}}</h2>
                <p>{{'dream.confirm'|trans}}</p>
                <p>{{'dream.final'|trans}}</p>
                <p>{{'dream.final_new_text'|trans|raw}}<a href="{{ url('app_contact') }}">{{'dream.contact_us'|trans}}</a>.</p>
                <div class="next-step-buttons">
                    <a class="blue-button" href="{{ url('app_index') }}">{{'dream.back_home'|trans}}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
