{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page postyourdream">
        <div class="wrapper">
            <!-- Step 4 -->
            <div class="dream-phase" id="dream-step4">
                <h2>{{'dream.share'|trans}}</h2>
                <p>Phase 3/3</p>
                <h3>{{'dream.raconter'|trans}}</h3>
                <form action="{{ path('app_dream') }}" method="post">
                    <input type="text" name="dream_title" id="dream_title" class="blue-button"
                           placeholder="{{ 'dream.title_dream'|trans}}" value="{{ dream.title }}" required>
                    <div class="dream_text">
                        <textarea id="dream_story" class="blue-button" name="dream_story" required
                                  placeholder="{{'dream.edit_area'|trans}}" maxlength="500"
                                  onkeyup="textCounter(this,'counter',500);">{{ dream.description }}</textarea>
                        <p><input disabled maxlength="3" size="3" value="500" id="counter"> {{'dream.caracteres'|trans}}</p>
                    </div>
                    <div class="next-step-buttons">
                        <a class="blue-button" id="back-to-step-2" href="{{ url('app_dream') }}">{{ 'register.previous'|trans }}</a>
                        {% if app.user %} <input class="blue-button"  type="submit" name="register" value="{{'dream.save'|trans}}" style="width: 200px; display: inline">{% endif %}
                        <input class="blue-button"  type="submit" value="{{ 'dream.publish'|trans}}" style="width: 200px; display: inline">
                    </div>
                    {% if not app.user %}
                        <p class="account-connection">
                            {{ 'index.already_account'|trans }} <a href="{{ url('app_login') }}">{{ 'index.log_in'|trans }}</a>
                        </p>
                    {% endif %}
                </form>
            </div>

        </div>
    </section>

    <script>
        function textCounter(field,field2,maxlimit)
        {
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
                field.value = field.value.substring( 0, maxlimit );
                return false;
            } else {
                countfield.value = maxlimit - field.value.length;
            }
        }
        textCounter(document.getElementById('dream_story'), 'counter', 500);

    </script>
{% endblock %}
