{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <style>
        .labl > input { /* HIDE RADIO */
            visibility: hidden; /* Makes input not-clickable */
        }

        .labl > input + div { /* DIV STYLES */
            cursor: pointer;
        }

        .labl > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
            background-color: #ffd6bb;
            border: 1px solid #ff6600;
        }
    </style>
    <section class="page postyourdream">
        <div class="wrapper">
            <div class="dream-phase" id="dream-step2">
                <h2>{{'dream.share'|trans}}</h2>
                <p>Phase 2/3</p>
                <h3>{{'dream.theme'|trans|raw}}</h3>

                <form action="{{ path('app_dream') }}" method="post">
                    <div class="dream-options">
                        <div class="dream-options-icons">
                            {% for theme in themes %}
                                <style>#cat-{{ theme.id}}:after {
                                        content: "{{theme.name}}";
                                    }</style>

                                <label class="labl">
                                    <input type="radio" name="theme"
                                           value="{{ theme.id }}" {% if dream.theme is not null and dream.theme.id == theme.id %} checked="checked"{% endif %} required>
                                    <div class="filter-box dream-cat" id="cat-{{ theme.id }}">
                                        {{ theme.ico |raw }}
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="next-step-buttons">
                        <a class="blue-button" id="back-to-step-1" href="{{ url('app_dream') }}">{{ 'register.previous'|trans }}</a>
                        <input class="blue-button" type="submit" value="{{'dream.next'|trans}}">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
