<!DOCTYPE html>
<html>
<head>
    <title>Rêveur Dream - {% block title %}{{ 'head.title'|trans }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rêveur Dream - {{ 'head.title'|trans }}"/>
    <meta property="og:title" content="Rêveur Dream - {{ 'head.title'|trans }}"/>
    <meta property="og:url" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Rêveur Dream - {{ 'head.title'|trans }}"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Rêveur Dream - {{ 'head.title'|trans }}"/>
    <meta name="robots" content="index, follow">

    <link rel="icon" href="{{ asset('build/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Adobe fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/auw3sxg.css">

    {% block stylesheets %}
{#        {{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="https://dev.ographik.fr/reveurdream/css/style.css">

    {% endblock %}
</head>


<body>
{% include "pages/_header.html.twig" %}

<main>
    {% block body %}{% endblock %}
</main>

{% include "pages/_footer.html.twig" %}

{{ encore_entry_script_tags('app') }}

{% block javascripts %}
    <script>
        /* Compteur dans les textarea */
        function textCounter(field,field2,maxlimit)
        {
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
                field.value = field.value.substring( 0, maxlimit );
                return false;
            } else {
                countfield.value = maxlimit - field.value.length;
            }
        }
    </script>
    <script>
        /* Close popup */
        $( ".close-popup" ).click(function() {
            $( ".popup-dream" ).hide(250);
        });

        /* Ouvrir filtres */
        $( ".filters-column" ).click(function() {
            $( ".filters" ).toggle(250);
        });

        /* Affichage d'une popup rêve : temporaire tant que pas fonctionnel */
        $( ".globe" ).click(function() {
            $( ".popup-dream" ).show(250);
        });


    </script>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '659958005291463',
                xfbml      : true,
                version    : 'v13.0'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
</body>
</html>
