{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page">
        <div class="wrapper">
            <h1>Bienvenue, {{ app.user.username }}</h1>
            <div class="edit-user-data">
                <h3>Modifier mes infos</h3>
                {{ form_start(form) }}
                {{ form(form) }}
                {{ form_end(form) }}
            </div>

            <div class="my-dreams">
                <h3>Mes rêves</h3>
                <div class="dreams">

                    {% for dream in dreams %}
                        <div class="dream">
                            <img class="phase" src="{{ asset('build/phase.png') }}">
                            <span class="dream_date">{{ dream.createdAt|format_datetime('long', 'none', locale=app.request.getLocale()) }}</span>
                            <span class="dream_categories"><svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 383.95 383.95">{{ dream.category.ico|raw }}</svg></span>
                            <span class="dream_title">{{ dream.title }}u</span>
                            <span class="dream_invisible">{% if dream.isDraft %} invisible {% endif %}</span>
                            <span class="dream_views"> | {{ dream.numberView }} vues</span>
                            <a class="dream_edit" href="{{ url('app_dream_edit', {'id' : dream.id}) }}">Editer le
                                rêve</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script>
        /* Connexion */
        $(".account-connection").click(function () {
            $("#left-col-home").hide();
            $("#left-col-connexion").toggle();
            $("#left-col-pourquoi").hide();
        });

        $("#connexion-submit").click(function () {
            $("#left-col-home").show();
            $("#left-col-connexion").hide();
        });

        /* Menu */
        $("#menu-connexion").click(function () {
            $("#left-col-home").hide();
            $("#left-col-connexion").show();
        });
        $("#menu-pourquoi").click(function () {
            $("#left-col-home").hide();
            $("#left-col-pourquoi").show();
        });
    </script>


{% endblock %}
