{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page">
        <div class="wrapper">
            <h1>{{'user.welcome'|trans}}, {{ app.user.username }}</h1>
            <div class="edit-user-data">
                <h3>{{'user.edit_info'|trans}}</h3>
                {{ form_start(form) }}
                {{ form(form) }}
                {{ form_end(form) }}
                <a id="delete_user" onclick="deleteUser()" >{{'user.delete'|trans}}</a>
            </div>

            <div class="my-dreams">
                <h3>{{'header.account'|trans}}</h3>
                <div class="dreams">

                    {% for dream in dreams %}
                        <div class="dream">
                            <span class="phase">{{ dream.lunaryPhase|raw}}</span>
                            <span class="dream_date">{{ dream.createdAt|format_datetime('long', 'none', locale=app.request.getLocale()) }}</span>
                            <span class="dream_categories">{% if dream.category %}{{ dream.category.ico|raw }}{% endif %}</span>
                            <span class="dream_title">{{ dream.title }}</span>
                            <span class="dream_invisible">{% if dream.isDraft %} {{'dream.invi'|trans}} {% else %}  {{'dream.visible'|trans}} {% endif %}</span>
                            <span class="dream_views"> | {{ dream.numberView }}  {{'dream.view'|trans}}</span>
                            <a class="dream_edit" href="{{ url('app_dream_edit', {'id' : dream.id}) }}">{{'dream.edit'|trans}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script>
        function deleteUser(){
            let text = "{{'user.delete_confirm'|trans}}"
            if(confirm(text)){
                window.location.href = '{{ path('app_user_delete') }}';
            }
        }
        /* Connexion */
        $(".account-connection").click(function () {
            $("#left-col-home").hide();
            $("#left-col-connexion").toggle();
            $("#left-col-pourquoi").hide();
        });

        $("#connexion-submit").click(function () {
            $("#left-col-home").show();
            $("#left-col-connexion").hide();
        });

        /* Menu */
        $("#menu-connexion").click(function () {
            $("#left-col-home").hide();
            $("#left-col-connexion").show();
        });
        $("#menu-pourquoi").click(function () {
            $("#left-col-home").hide();
            $("#left-col-pourquoi").show();
        });
    </script>


{% endblock %}
